/* RESET */
* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
    color: white;
    position: relative;
}

/*//////////////////////////////////////////////// SEPARATEUR SECTION \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/
/* SEPARATEUR STYLE */
.separateur1 {
    height: 4px;
    width: 75%;
    margin-top: 5%;
    margin-left: 12%;
}
.separateur2 {
    height: 2px;
    width: 75%;
    margin-left: 12%;
}

/*//////////////////////////////////////////////// GENERAL SECTION \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/
/* ID STYLE */
#contact, #competences, #exp-pro, #cv, #diplome {
    height: 80vh;
}
.title-h6 {
    text-decoration: underline red;
    padding-top: 0.2%;
}
.container-title {
    width: 50%;
}

                            /*////////////////////// DETAILS SECTION \\\\\\\\\\\\\\\\\\\\\\\*/

/*//////////////////////////////////////////////// PRESENTATION SECTION \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/
/* PRESENTATION STYLE */
.section-title {
    padding-top: 1%;
    text-decoration: underline red;
    margin: 3% 0%;
}
h1 {
    font-family: "Italianno", serif;
    text-decoration: underline red;
    transform: rotate(-7.5deg);
    padding: 5% 0;
}
.photo {
    height: 12rem;
    width: 10rem;
    background-color: grey;
    border: 1px solid red;
}
h2 {
    padding: 6% 0 6% 0;
    text-decoration: underline red;
}


/*//////////////////////////////////////////////// NAVBAR SECTION \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/
/* SURBRILLANCE NAVBAR */
.navbar {
    opacity: 0.9;
    margin-top: 0.2%;
    position: absolute;
    z-index: 1;
}

li {
    text-decoration: underline red;
}

.nav-link:hover {
    text-decoration: underline red;
    font-weight: bold;
    background: linear-gradient(135deg, red, silver, red, white, red, gold, red, gold, red, white, red, silver, red);
    background-size: 400% 400%;
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        animation: glowing 50ms ease-in-out infinite;
}
@keyframes glowing {
    0% {
    background-position: 0% 0%;
}
    50% {
    background-position: 400% 0%;
}
    100% {
    background-position: 0% 0%;
}
}


/*//////////////////////////////////////////////// COMPETENCES SECTION \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/
/* SECTION COMPETENCES STYLE */


/* CARDS STYLE */
.div-decor {
    height: 25%;
    width: 35%;
    background: linear-gradient(150deg, rgb(33, 33, 33) 15%, rgb(40, 40, 40) 20%, rgb(52, 52, 52) 25%,rgb(66, 65, 65),rgb(76,76,76),rgb(83, 83, 83) 35%,rgb(97, 97, 97),rgb(107, 107, 107),rgb(117, 117, 117),rgb(127, 127, 127),rgb(137, 137, 137),rgb(148, 148,148),rgb(159,159,159),rgb(169, 169, 169),rgb(179, 179, 179),rgb(189, 189, 189) 65%,rgb(169,169,169) 72%,rgb(148, 148,148), rgb(135,135,135), rgba(98, 98, 98) ,rgb(66, 65, 65) 90%, rgb(33,33,33));;
    border: 2px solid red;
    border-radius: 10px;
    margin-bottom: 7%;
}
.contenant-cards1, .contenant-cards2, .contenant-cards3 {
    width: 40%;
}
.cont {
    gap: 2%;
}
@media (max-width: 420px) {
    .div-decor {
        height: 20%;
        width: 30%;
    }
}
@media (max-width: 580px) {
    .div-decor {
        height: 12%;
        width: 17%;
        margin-bottom: 5%;
    }
}
@media (min-width: 580px) {
    .div-decor {
        height: 12%;
        width: 17%;
        margin-bottom: 3%;
    }
}
@media (min-width: 690px) {
    .div-decor {
        height: 11%;
        width: 16%;
    }
}
@media (min-width: 730px) {
    .div-decor {
        height: 11%;
        width: 16%;
        margin-bottom: 2%;
    }
}
@media (min-width: 780px) {
    .div-decor {
        height: 11%;
        width: 16%;
        margin-bottom: 1.9%;
    }
}
@media (min-width: 830px) {
    .div-decor {
        height: 11%;
        width: 16%;
        margin-bottom: 1.5%;
    }
}
@media (min-width: 880px) {
    .div-decor {
        height: 8%;
        width: 13%;
    }
}
@media (min-width: 980px) {
    .div-decor {
        height: 8%;
        width: 13%;
    }
}
@media (min-width: 1040px) {
    .div-decor {
        height: 7%;
        width: 12%;
    }
}
@media (min-width: 1120px) {
    .div-decor {
        height: 5%;
        width: 10%;
    }
}
@media (min-width: 1300px) {
    .div-decor {
        height: 3%;
        width: 8%;
    }
}
/* KEYFRAMES ROTATE */
.img-rotate1 {
    animation: rotate 4s ease-in-out 3s infinite;
}
@keyframes rotate {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}

.img-rotate2 {
    animation: rotate2 3s ease-in-out 5s infinite;
}
@keyframes rotate2 {
    0% {transform: rotate(360deg);}
    100% {transform: rotate(0deg);}
}

.img-rotate3 {
    animation: rotate3 2s ease-in-out 4s infinite;
}
@keyframes rotate3 {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}

.img-rotate4 {
    animation: rotate4 5s ease-in-out 1s infinite;
}
@keyframes rotate4 {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}




/*//////////////////////////////////////////////// CONTACT SECTION \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/
/* SECTION CANTACT STYLE */
.contenant-form {
    height: 100%;
    width: 100%;
}
.div-form {
    height: 95%;
    width: 75%;
    background: linear-gradient(150deg, rgb(33, 33, 33) 15%, rgb(40, 40, 40) 20%, rgb(52, 52, 52) 25%,rgb(66, 65, 65),rgb(76,76,76),rgb(83, 83, 83) 35%,rgb(97, 97, 97),rgb(107, 107, 107),rgb(117, 117, 117),rgb(127, 127, 127),rgb(137, 137, 137),rgb(148, 148,148),rgb(159,159,159),rgb(169, 169, 169),rgb(179, 179, 179),rgb(189, 189, 189) 65%,rgb(169,169,169) 72%,rgb(148, 148,148), rgb(135,135,135), rgba(98, 98, 98) ,rgb(66, 65, 65) 90%, rgb(33,33,33));;
    border: 2px solid red;
    border-radius: 20px;
}
.style {
    border: 1px solid red;
}
.text-space {
    width: 80%;
    margin: auto;
}
.div-textarea {
    height: 100%;
    width: 80%;
}
.textarea {
    width: 100%;
    height: 100%;
    border: 1px solid red;
    overflow: auto;
    margin-left: 0%;
}
.form-label, .to {
    text-decoration: underline red;
}
