/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    position: relative;
}

html,
body {
    width: 100%;
    min-height: 100vh;
    position: relative;
}

/*//////////////////////////////////////////////// SEPARATEUR SECTION \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/
/* SEPARATEUR STYLE */
.separateur1 {
    height: 4px;
    width: 75%;
    margin-top: 6.5%;
    margin-left: 12.5%;
}
.separateur2 {
    height: 2px;
    width: 75%;
    margin-left: 12.5%;
    margin-bottom: 3.1%;
}

/*//////////////////////////////////////////////// GENERAL SECTION \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/
/* ID STYLE */
#contact, #competences, #projets, #cv {
    height: 80vh;
}
#presentation {
    height: 81vh;
}

.title-h6 {
    text-decoration: underline red;
    padding-top: 0.3%;
    font-weight: bold;
}
.container-title {
    width: 50%;
}

                            /*////////////////////// DETAILS SECTION \\\\\\\\\\\\\\\\\\\\\\\*/

/*//////////////////////////////////////////////// PRESENTATION SECTION \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/
/* PRESENTATION STYLE */
.section-title {
    padding-top: 1%;
    text-decoration: underline red;
    margin: 6% 0%;
    font-weight: bold;
}
.h1 {
    font-family: "Italianno", serif;
    text-decoration: underline red;
    transform: rotate(-7.5deg);
    padding: 2% 0 0 0;

}
.photo {
    height: 12rem;
    width: 10rem;
    background-color: grey;
    border: 1px solid red;
    margin: 5% 0 5% 0;
}
h2 {
    padding: 8% 0 3% 0;
    /* margin-top: 3%; */
    text-decoration: underline red;
}


/*//////////////////////////////////////////////// NAVBAR SECTION \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/
/* SURBRILLANCE NAVBAR */
.navbar-section{
    .navbar {
        opacity: 0.9;
        margin-top: 0.2%;
        position: absolute;
        z-index: 2;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;

    }
    .navbar-nav{
        padding-inline: 1.5rem;
    }
    li.nav-item {
        text-decoration: underline red;
        .nav-link{
            text-align: center;
            max-width: calc(100% + 2rem);
            font-weight: bold;
        }
    }
}


.nav-link:hover {
    text-decoration: underline red;
    font-weight: bold;
    background: linear-gradient(135deg, red, silver, red, white, red, silver, red, silver, red, white, red, silver, red);
    background-size: 400% 400%;
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        animation: glowing 50ms ease-in-out infinite;
}
@keyframes glowing {
    0% {
    background-position: 0% 0%;
}
    50% {
    background-position: 400% 0%;
}
    100% {
    background-position: 0% 0%;
}
}


/*//////////////////////////////////////////////// COMPETENCES SECTION \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/
/* SECTION COMPETENCES STYLE */


/* CARDS STYLE */

.cont-lang-front, .cont-lang-back {
    width: 48%;
}
.cont-framew-css, .cont-framew-back {
    width: 32%;
}
.cont-lang-back {
    width: 48%;
}
.cont-img {
    height: 8rem;
    width: 8rem;
    gap: 2%;
}

.logo-lp {
    height: 100%;
    width: 100%;
}
.logo-js {
  transform: scale(1.2);
  height: 80%;
  width: 90%;
}
.logo-sass {
    transform: scale(1.45);
    height: 90%;
}
.logo-symfo {
    height: 90%;
    width: 90%;
}
.logo-lp:hover {
    transform: scale(1.2);
}
.logo-sass:hover {
  transform: scale(1.70);
}
.logo-js:hover {
  transform: scale(1.40);
}
.div-logo {
    margin-top: 2%;
}
.cont {
    margin-top: 1.5%;
}
.contenant-cards1, .contenant-cards2, .contenant-cards3 {
    width: 40%;
}
.cont {
    gap: 2%;
}
@media (max-width: 420px) {
    .div-decor {
        height: 20%;
        width: 30%;
    }
}
@media (max-width: 580px) {
    .div-decor {
        height: 12%;
        width: 17%;
        margin-bottom: 5%;
    }
}
@media (min-width: 580px) {
    .div-decor {
        height: 12%;
        width: 17%;
        margin-bottom: 3%;
    }
}
@media (min-width: 690px) {
    .div-decor {
        height: 11%;
        width: 16%;
    }
}
@media (min-width: 730px) {
    .div-decor {
        height: 11%;
        width: 16%;
        margin-bottom: 2%;
    }
}
@media (min-width: 780px) {
    .div-decor {
        height: 11%;
        width: 16%;
        margin-bottom: 1.9%;
    }
}
@media (min-width: 830px) {
    .div-decor {
        height: 11%;
        width: 16%;
        margin-bottom: 1.5%;
    }
}
@media (min-width: 880px) {
    .div-decor {
        height: 8%;
        width: 13%;
    }
}
@media (min-width: 980px) {
    .div-decor {
        height: 8%;
        width: 13%;
    }
}
@media (min-width: 1040px) {
    .div-decor {
        height: 7%;
        width: 12%;
    }
}
@media (min-width: 1120px) {
    .div-decor {
        height: 5%;
        width: 10%;
    }
}
@media (min-width: 1300px) {
    .div-decor {
        height: 3%;
        width: 8%;
    }
}
/* KEYFRAMES ROTATE */
.img-rotate1 {
    animation: rotate 4s ease-in-out 3s infinite;
}
@keyframes rotate {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}

.img-rotate2 {
    animation: rotate2 3s ease-in-out 5s infinite;
}
@keyframes rotate2 {
    0% {transform: rotate(360deg);}
    100% {transform: rotate(0deg);}
}

.img-rotate3 {
    animation: rotate3 2s ease-in-out 4s infinite;
}
@keyframes rotate3 {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}

.img-rotate4 {
    animation: rotate4 5s ease-in-out 1s infinite;
}
@keyframes rotate4 {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}

/*//////////////////////////////////////////////// CV SECTION \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/
/* SECTION CV STYLE */
.emplois {
    width: 33%;
    height: 98.5%;
    border-radius: 16px;
    margin: 0.5%;
    border: 1px solid white;
}
.middle-block {
    width: 32%;
}
.bg-cv {
    width: 100%;
    height: 58%;
    border-radius: 16px;
    margin: 1.5% 0 0 0;
    border: 1px solid white;
}
.contenant-identity {
    width: 100%;
    height: 42%;
}

.frame-photo {
    background-color: gray;
    border: 1px solid red;
    border-radius: 10px;
    height: 98%;
    width: 35%;
    margin: 1.5% 3% 3% 2%;
}
.contenant-identity {
    width: 100%;
    margin: 3% 0;
}
.name {
    text-decoration: underline red;
}
.diplomes {
    width: 100%;
    height: 39.7%;
    border-radius: 16px;
    margin: 1.5% 0 0 0;
    border: 1px solid white;
}
.divers {
    width: 33%;
    height: 98.5%;
    border-radius: 16px;
    margin: 0.5% 0 0.5% 0.5%;
    border: 1px solid white;
}

.emplois:hover, .bg-cv:hover, .diplomes:hover, .divers:hover {
    transform: scale(1.2);
    z-index: 3;
}


/*//////////////////////////////////////////////// CONTACT SECTION \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/
/* SECTION CANTACT STYLE */
.contenant-form {
    height: 100%;
    width: 100%;
}
.totle-h6 {
    margin-bottom: 3%;
}
.frame-section {
    height: 95%;
    width: 75%;
    background: linear-gradient(150deg,rgb(33, 33, 33) 15%, rgb(40, 40, 40) 20%, rgb(52, 52, 52) 25%,rgb(66, 65, 65),rgb(76,76,76),rgb(83, 83, 83) 35%,rgb(97, 97, 97),rgb(107, 107, 107),rgb(117, 117, 117),rgb(127, 127, 127),rgb(137, 137, 137),rgb(148, 148,148),rgb(159,159,159),rgb(169, 169, 169),rgb(179, 179, 179),rgb(189, 189, 189) 65%,rgb(169,169,169) 72%,rgb(148, 148,148), rgb(135,135,135), rgba(98, 98, 98) ,rgb(66, 65, 65) 90%, rgb(33,33,33));;
    border: 3px solid red;
    border-radius: 20px;
    margin-bottom: 3%;
}
.style {
    border: 1px solid red;
}
.text-space {
    width: 80%;
    margin: auto;
}
.div-textarea {
    height: 12rem;
    width: 80%;
}
.textarea {
    width: 100%;
    height: 12rem;
    border: 1px solid red;
    overflow: auto;
    margin-left: 0%;
}
.form-label, .to {
    text-decoration: underline red;
}


footer {
    height: 20vh;
    margin-top: 3%;
}


.navbar-burger {
    position: fixed !important;
    top: 1rem;
    left: 1rem;
    background-color: red;
    user-select: none;
    z-index: 1500;
}

.nav-section .wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(14, 14, 14, 0.945);
    z-index: 100;
    transform: translateX(-100%);
}

.nav-section .wrapper.active {
    transform: translateX(0%);
    animation: displayWrapper 0.3s ease-out forwards;
}
.nav-section .wrapper.inactive {
    transform: translateX(-100%);
    animation: removeWrapper 0.3s ease-out forwards;
}

@keyframes displayWrapper {
    to {
        transform: translateX(100%);
    }
}
@keyframes removeWrapper {
    to {
        transform: translateX(0%);
    }
}



/** issue bg bulma **/
.navbar {
    background-color: transparent !important;
}

.nav-items-wrapper{
    position: relative;
}
.nav-section .navbar-burger.is-active + .wrapper .nav-item {
    font-weight: bold;
    text-decoration: underline red;
}

.nav-section .navbar-burger.is-active + .wrapper .nav-item {
    position: relative;
    opacity: 0;
    transform: translateY(-2rem);
    animation-name: translateXNavItem;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

.nav-section .wrapper .nav-item:nth-child(1) {
    animation-delay: 0.2s;
}
.nav-section .wrapper .nav-item:nth-child(2) {
    animation-delay: 0.4s;
}
.nav-section .wrapper .nav-item:nth-child(3) {
    animation-delay: 0.6s;
}
.nav-section .wrapper .nav-item:nth-child(4) {
    animation-delay: 0.8s;
}
.nav-section .wrapper .nav-item:nth-child(5) {
    animation-delay: 1s;
}

@keyframes translateXNavItem {
    0% {
        opacity: 0;
        transform: translateY(-2rem);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}